

$blue-grey: (
  "base": #607d8b,
  "lighten-5": #eceff1,
  "lighten-4": #cfd8dc,
  "lighten-3": #b0bec5,
  "lighten-2": #90a4ae,
  "lighten-1": #78909c,
  "darken-1": #546e7a,
  "darken-2": #455a64,
  "darken-3": #37474f,
  "darken-4": #263238
);

$grey: (
  "base": #8e979f,
  "lighten-5": #a8afb6,
  "lighten-4": #f2f3f4,
  "lighten-3": #dbdee0,
  "lighten-2": #c2c7cc,
  "lighten-1": #a8afb6,
  "darken-1": #737c84,
  "darken-2": #565f67,
  "darken-3": #363e45,
  "darken-4": #131518
);

$blue: (
  "base": #3d91e0,
  "lighten-5": #e3f2fd,
  "lighten-4": #bbdefb,
  "lighten-3": #90caf9,
  "lighten-2": #64b5f6,
  "lighten-1": #42a5f5,
  "darken-1": #1e88e5,
  "darken-2": #1976d2,
  "darken-3": #1565c0,
  "darken-4": #0d47a1,
  "accent-1": #82b1ff,
  "accent-2": #448aff,
  "accent-3": #2979ff,
  "accent-4": #2962ff
);

$light-blue: (
  "base": #03a9f4,
  "lighten-5": #e1f5fe,
  "lighten-4": #b3e5fc,
  "lighten-3": #81d4fa,
  "lighten-2": #4fc3f7,
  "lighten-1": #29b6f6,
  "darken-1": #039be5,
  "darken-2": #0288d1,
  "darken-3": #0277bd,
  "darken-4": #01579b,
  "accent-1": #80d8ff,
  "accent-2": #40c4ff,
  "accent-3": #00b0ff,
  "accent-4": #0091ea
);
$shades: (
  "black": #000000,
  "white": #ffffff,
  "transparent": transparent
);

$colors: (
  "blue": $blue,
  "light-blue": $light-blue,
  "blue-grey": $blue-grey,
  "grey": $grey,
  "shades": $shades
);

@function colorBuilder($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
